body {
	font: 16px/1.5 Georgia, Verdana, Arial;
	margin: 0 5%;
	width: 90%;
	color: #333;
	background-color: #fff;
}

h1 {
	clear: both;
}

h2, h3 {
	border-bottom: 1px solid lightgray;
	padding-top: .2em;
}
h3 {
	border-bottom: 1px dashed lightgray;
	padding-top: .2em;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

table {
	min-width: 600px;
}

table, tr, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: .2em .5em;
}
form table, form tr, form th, form td {
  border: 0;
}

th {
	text-align: left;
}

form .required label, form label.required {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.order-link {
	padding-left: 1em;
	font-size: .8em;
	display: inline-block;
	float: right;
}
.order-link a {
	color: lightgray;
}

.navig {
	border-bottom: 1px solid lightgray;
	padding-top: .5em;
}

.navig li {
	list-style: none;
	display: inline-block;
	padding-right: 2em;
}

.navig li a {
	color: gray;
}

.navig li.selected a {
	color: black;
}

.footer {
	margin-top: 2em;
	border-top: 1px solid lightgray;
	text-align: center;
}

.groups {
	text-align: left;
}

.groups a {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px;
	padding: .1em .2em;
	font-size: .7em;
	font-family: monospace;
	color: gray;
}
.groups a:hover,
.tails a:hover {
	text-decoration: none;
	color: black;
}

.admin_note:before, .user_note:before, .user_characteristics:before {
	border: 1px solid gray;
	border-radius: 3px;
	position: absolute;
	left: 1em;
	top: -.8em;
	background-color: gray;
	padding: .1em .2em;
	font-size: .6em;
	font-family: monospace;
}
.admin_note, .user_note {
	position: relative;
	border: 1px solid gray;
	border-radius: 3px;
	/*padding: 1em 1em .5em 1em;*/
	padding: .5em;
}
.user_note {
	padding: 1em 1em .5em 1em;
}
/*
.admin_note:before {
	content: 'Organizační shrnutí: (tiskne se organizátorům)';
	color: lemonchiffon;

}
*/
.admin_note {
	background-color: lemonchiffon;
}

.user_note:before {
	content: 'Pracovní poznámky (vyřešit do startu hry, netiskne se)';
	color: #E8FD3F;
	
}
.user_note {
	background-color: #E8FD3F;
}

/*
.user_characteristics:before {
	content: 'Popis role';
	color: #FFCCAA;
	
}
.user_characteristics {
	background-color: #FFCCAA;
}
*/

.print {
    display: none;
}
@media print
{
    body {
        font: 13px/1.3 Times, serif;
        margin: 0 5%;
        width: 90%;
        color: black;
        background-color: white;
    }
    
    .print {
        display: block;
    }
	.no-print, .no-print *
	{
		display: none !important;
	}
}

textarea {
	min-width: 600px;
	min-height: 150px;
}

input[type="text"],input[type="email"],input[type="password"] {
	min-width: 400px;
}

a.edit, a.delete {
	float: right;
	font-size: .8em;
	padding-top: 1em;
}

a.delete {
	color: red;
}

dd {
	margin: 0;
}

.anchor {
	color: lightgray;
}
.anchor:hover {
	text-decoration:none;
	color: gray;
}
.anchor:hover:after {
	content: 'přejít na záložku';
	display: inline-block;
	font-size: .6em;
	padding-left: .5em;
}

.content-unavailable, .help {
	color: lightgray;
	font-style: italic;
}
