<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Framework Micro-blog</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css?v=1">
	<script src="/js/tinymce/tinymce.js"></script>
</head>

<body>
	<ul class="navig no-print">
		<li n:if="$user->isInRole('admin')" n:class="$this->getParameter('presenter') == 'Character' ? 'selected' : ''">
			<a n:href="Character:list">Role</a>
		</li>
		<li n:if="$user->isInRole('admin')" n:class="$this->getParameter('presenter') == 'Tail' ? 'selected' : ''">
			<a n:href="Tail:list">Příběhové linky</a>
		</li>
		<li n:if="$user->isInRole('admin')" n:class="$this->getParameter('presenter') == 'User' ? 'selected' : ''">
			<a n:href="User:list">Hráči</a>
		</li>
		<li n:if="$user->isLoggedIn() && (!$user->isInRole('admin') || $myCharacter)" n:class="$this->getParameter('presenter') == 'Homepage' ? 'selected' : ''">
			<a n:href="Homepage:default">Moje role</a>
		</li>
		<li n:if="$user->isLoggedIn() && !$user->isInRole('admin')" n:class="$this->getParameter('presenter') == 'User' ? 'selected' : ''">
			<a n:href="User:show $user->getId()">Můj profil</a>
		</li>
		{block navig}{/block}
		<li n:if="$user->loggedIn" style="float:right"><i>{$user->getIdentity()->name}</i> [<a n:href="Homepage:sign-out">odhlásit</a>]</li>
	</ul>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message|breaklines}</div>

	{include content}

	<p class="footer"><small><a href="http://florie-obroda.blogspot.cz/">Florie Obroda</a>, 2018</small></p>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script>
	tinymce.init({
		selector: "mceEditor"
	});
	</script>
	{/block}
</body>
</html>
