{block content}
	<h1 n:block="title">Florie Obroda</h1>
	{if $user->loggedIn}
		{if $myCharacter}
			<h2>{$myCharacter->name}</h2>
			<div>{$myCharacter->user_characteristics}</div>
			<div n:foreach="$myCharacter->related('tail_x_character') as $xTail">
				<h3 n:if="$xTail->caption">{$xTail->caption}</h3>
				<p n:if="$xTail->tail->description">{$xTail->tail->description|breaklines}</p>
				<p n:if="$xTail->description">{$xTail->description|breaklines}</p>
			</div>
		{else}
			<p><i>Zatím ti organizátoři hry nepřidělili žádnou roli. Zkus se jim ozvat nebo se přihlaš o něco později.</i></p>
		{/if}
	{else}
		{control signInForm}
	{/if}
{/block}
