{block content}
<a n:href="delete $characterId" onclick="if(!confirm('Opravdu? Smazání je nevratné!')) { event.preventDefault(); } " class="delete no-print">smazat</a>
<h1>Upravit roli</h1>
{control characterForm}
<br />
<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>