{block content}
	<h1 n:block="title">Herní role</h1>

<table>
	<tr>
		<th>
			Řazení
			<span class="order-link">
				<a n:href="this, order_column => 'sequence', order_desc => false" n:tag-if="$order_column != 'sequence' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'sequence', order_desc => true" n:tag-if="$order_column != 'sequence' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Role
			<span class="order-link">
				<a n:href="this, order_column => 'name', order_desc => false" n:tag-if="$order_column != 'name' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'name', order_desc => true" n:tag-if="$order_column != 'name' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Příběhové linky
		</th>
		<th>
			Známosti
		</th>
		<th>
			Hráč
			<span class="order-link">
				<a n:href="this, order_column => 'user.name', order_desc => false" n:tag-if="$order_column != 'user.name' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'user.name', order_desc => true" n:tag-if="$order_column != 'user.name' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Přezdívka
			<span class="order-link">
				<a n:href="this, order_column => 'user.nickname', order_desc => false" n:tag-if="$order_column != 'user.nickname' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'user.nickname', order_desc => true" n:tag-if="$order_column != 'user.nickname' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Dořešit
			<span class="order-link">
				<a n:href="this, order_column => 'user.nickname', order_desc => false" n:tag-if="$order_column != 'user.nickname' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'user.nickname', order_desc => true" n:tag-if="$order_column != 'user.nickname' || !$order_desc">&uarr;</a>
			</span>
		</th>
	</tr>
	<tr n:foreach="$characters as $character">
		<td>{$character->sequence}</td>
		<td><a n:href=":show $character->id">{$character->name}</a></td>
		<td class="groups">
				<a n:foreach="$character->related('tail_x_character') as $tail"
					 n:href="Tail:show $tail->tail->id"
					 class="tail-{$tail->tail->id}">{$tail->tail->name}</a>
		</td>
		<td class="groups">
				<a n:foreach="$character->related('acquaintance') as $acquaintance"
					 n:href="Character:show $acquaintance->object->id"
					 class="acquaintance-{$acquaintance->object->id}">{$acquaintance->object->name}</a>
		</td>
		<td>{if ($character->user)}<a n:href="User:show $character->user->id">{$character->user->name}</a>{else}&mdash;{/if}</td>
		<td>{if ($character->user)}<a n:href="User:show $character->user->id">{$character->user->nickname}</a>{else}&mdash;{/if}</td>
		<td>{if ($character->user_note)}dořešit{else}&mdash;{/if}</td>
	</tr>
</table>

<h2>Přidat novou roli</h2>
{control characterForm}
