{block content}
<h1 n:block=title>{$character->name}</h1>
<a n:href="edit $character->id" class="no-print">upravit postavu</a>
<p n:if="$character->user_note" class="user_note">{$character->user_note|trim|breaklines}</p>
<p n:if="$character->admin_note" class="admin_note">{$character->admin_note|trim|breaklines}</p>
<p n:if="$character->user_characteristics" class="user_characteristics">{$character->user_characteristics|trim|breaklines}</p>

<a n:href="Acquaintance:create 'characterId' => $character->id" class="edit no-print">vytvořit známost&hellip;</a>
<h2 class="no-print">Známosti</h2>
<p n:if="!$character->related('acquaintance')->count()" class="no-print"><i>Role není zapojena do žádné příběhové linky</i></p>
<div n:foreach="$character->related('acquaintance') as $acquaintance">
	<a n:href="Acquaintance:edit 'acquaintanceId' => $acquaintance->id" class="edit no-print">upravit zapojení</a>
	<b class="no-print"><a n:href="Character:show 'characterId' => $acquaintance->object_id">{$acquaintance->object->name}</a></b>
	<p n:if="$acquaintance->description"><b class="print">{$acquaintance->object->name}:</b> {$acquaintance->description|trim|breaklines}</p>
	<p n:if="!$acquaintance->description" class="no-print content-unavailable">Text pro tohoto hráče není vyplněn</p>
	<p n:if="$acquaintance->admin_note" class="admin_note">{$acquaintance->admin_note|trim|breaklines}</p>
</div>
<h2 class="no-print">Ví se o mně</h2>
<p n:if="!$character->related('acquaintance.object_id')->count()" class="no-print"><i>Role není zapojena do žádné příběhové linky</i></p>
<div n:foreach="$character->related('acquaintance.object_id') as $acquaintance">
	<a n:href="Acquaintance:edit 'acquaintanceId' => $acquaintance->id" class="edit no-print">upravit zapojení</a>
	<b class="no-print"><a n:href="Character:show 'characterId' => $acquaintance->character_id">{$acquaintance->character->name}</a></b>
	<p n:if="$acquaintance->description"><b class="print">{$acquaintance->object->name}:</b> {$acquaintance->description|trim|breaklines}</p>
	<p n:if="!$acquaintance->description" class="no-print content-unavailable">Text pro tohoto hráče není vyplněn</p>
	<p n:if="$acquaintance->admin_note" class="admin_note">{$acquaintance->admin_note|trim|breaklines}</p>
</div>
<a n:href="TailCharacter:create 'characterId' => $character->id" class="edit no-print">zapojit do příběhové linky&hellip;</a>
<h2 class="no-print">Zapojení do příběhových linek</h2>
<p n:if="!$character->related('tail_x_character')->count()" class="no-print"><i>Role není zapojena do žádné příběhové linky</i></p>
<div n:foreach="$character->related('tail_x_character') as $xTail">
	<a n:href="TailCharacter:edit 'xTailId' => $xTail->id, 'characterId' => $character->id" class="edit no-print">upravit zapojení</a>
	<h3 class="no-print"><a n:href="Tail:show $xTail->tail_id">{$xTail->tail->name}</a></h3>
	<p n:if="$xTail->description"><b class="print">{$xTail->tail->name}:</b> {$xTail->description|trim|breaklines}</p>
	<p n:if="!$xTail->description" class="no-print content-unavailable">Text pro tohoto hráče není vyplněn</p>
	<p n:if="$xTail->admin_note" class="admin_note">{$xTail->admin_note|trim|breaklines}</p>
</div>
