{block content}
<h1>Přidat roli <i n:if="$character">{$character->name}</i> do příběhové linky <i n:if="$tail">{$tail->name}</i></h1>

{control membershipForm}

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>