{block content}
<a n:href="delete $xTail->id" onclick="if(!confirm('Opravdu? Smazání je nevratné!')) { event.preventDefault(); } " class="delete no-print">smazat</a>
<h1>Upravit členství role <i>{$xTail->character->name}</i> ve legendě <i>{$xTail->tail->name}</i></h1>

{control membershipForm}

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>