{block content}
<h1>Přidat známost u postavy <i n:if="$character">{$character->name}</i></h1>

{control acquaintanceForm}

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>