{block content}
<a n:href="delete $acquaintance->id" onclick="if(!confirm('Opravdu? Smazání je nevratné!')) { event.preventDefault(); } " class="delete no-print">smazat</a>
<h1>Upravit známost u postavy <i>{$acquaintance->character->name}</i></h1>

{control acquaintanceForm}

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>