{block content}
<a n:href="delete $tailId" onclick="if(!confirm('Opravdu? Smazání je nevratné!')) { event.preventDefault(); } " class="delete no-print">smazat</a>
<h1>Upravit příběhovou linku</h1>

{control tailForm}

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>