{block content}
	<h1 n:block="title">Příběhové linky</h1>

<table>
	<tr>
		<th>
			Linka
			<span class="order-link">
				<a n:href="this, order_column => 'name', order_desc => false" n:tag-if="$order_column != 'name' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'name', order_desc => true" n:tag-if="$order_column != 'name' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Počet členů
			<span class="order-link">
				<a n:href="this, order_column => 'COUNT(:tail_x_character.id)', order_desc => false" n:tag-if="$order_column != 'COUNT(:tail_x_character.id)' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'COUNT(:tail_x_character.id)', order_desc => true" n:tag-if="$order_column != 'COUNT(:tail_x_character.id)' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Vytvořeno
			<span class="order-link">
				<a n:href="this, order_column => 'created_at', order_desc => false" n:tag-if="$order_column != 'created_at' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'created_at', order_desc => true" n:tag-if="$order_column != 'created_at' || !$order_desc">&uarr;</a>
			</span>
		</th>
	</tr>
	<tr n:foreach="$tails as $tail">
		<td><a n:href=":show $tail->id">{$tail->name}</a></td>
		<td>
			{$tail->related('tail_x_character')->count()}
		</td>
		<td>{$tail->created_at|date:'j. n. Y'}</td>
	</tr>
</table>

<h2>Přidat novou příběhovou linku</h2>
{control tailForm}
