{block content}
<h1 n:block=title>{$tail->name}</h1>
<a n:href="edit $tail->id" class="edit no-print">upravit</a>
<h2 class="no-print">Popis příběhové linky <small>(zobrazuje se všem zúčastněným)</small></h2>
<p>{$tail->description|breaklines}</p>
<p n:if="$tail->admin_note" class="admin_note">{$tail->admin_note|breaklines}</p>
	
<a n:href="TailCharacter:create 'tailId' => $tail->id" class="edit no-print">přidat do příběhové linky roli&hellip;</a>

<h2 class="no-print">Postavy zapojené v lince</h2>
<p n:if="!$tail->related('tail_x_character')->count()"><i>Příběhová linka nezahrnuje žádné role</i></p>
<ul>
	<li n:foreach="$tail->related('tail_x_character') as $xCharacter">
		<a n:href="Character:show $xCharacter->character_id">{$xCharacter->character->name}</a>
		{$xCharacter->character->user ? '(' . $xCharacter->character->user->name . ( $xCharacter->character->user->nickname ? ' "' . $xCharacter->character->user->nickname. '"' ) . ')'}
		<a href="#character-{$xCharacter->character_id}" class="anchor">&#x2198;</a>
	</li>
</ul>

<h2 class="no-print">Texty určené pouze konkrétním postavám</h2>
<div n:foreach="$tail->related('tail_x_character') as $xCharacter" id="character-{$xCharacter->character_id}">
	<a n:href="TailCharacter:edit 'xTailId' => $xCharacter->id, 'tailId' => $tail->id" class="edit no-print">upravit</a>
	<h3><a n:href="Character:show $xCharacter->character_id">{$xCharacter->character->name}</a></h3>
	<p n:if="$xCharacter->description">{$xCharacter->description|breaklines}</p>
	<p n:if="!$xCharacter->description" class="content-unavailable">Text pro tohoto hráče není vyplněn</p>
	<p n:if="$xCharacter->admin_note" class="admin_note">{$xCharacter->admin_note|breaklines}</p>
</div>
