{block content}
<h1>Upravit hráče</h1>

{control userForm}

<p n:if="$user->isInRole('admin')"><i>Poznámka:</i> přiřazení role hráči lze změnit v kartě role <a n:href="Character:edit $_user->character_id">{$_user->character_name}</a></p>

<button onclick="if(confirm('Pokračovat? Ztratíte provedené změny!')) { window.history.back(); }">zpět</button>