{block content}
	<h1 n:block="title">Hráči</h1>

<table>
	<tr>
		<th>
			Přezdívka
			<span class="order-link">
				<a n:href="this, order_column => 'nickname', order_desc => false" n:tag-if="$order_column != 'nickname' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'nickname', order_desc => true" n:tag-if="$order_column != 'nickname' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Jméno
			<span class="order-link">
				<a n:href="this, order_column => 'name', order_desc => false" n:tag-if="$order_column != 'name' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'name', order_desc => true" n:tag-if="$order_column != 'name' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Role
			<span class="order-link">
				<a n:href="this, order_column => ':character.name', order_desc => false" n:tag-if="$order_column != ':character.name' || $order_desc">&darr;</a>
				<a n:href="this, order_column => ':character.name', order_desc => true" n:tag-if="$order_column != ':character.name' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Navazující role
			<span class="order-link">
				<a n:href="this, order_column => 'continuing', order_desc => false" n:tag-if="$order_column != 'continuing' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'continuing', order_desc => true" n:tag-if="$order_column != 'continuing' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			E-mail
			<span class="order-link">
				<a n:href="this, order_column => 'email', order_desc => false" n:tag-if="$order_column != 'email' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'email', order_desc => true" n:tag-if="$order_column != 'email' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Oprávnění
			<span class="order-link">
				<a n:href="this, order_column => 'role', order_desc => false" n:tag-if="$order_column != 'role' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'role', order_desc => true" n:tag-if="$order_column != 'role' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Vytvořeno
			<span class="order-link">
				<a n:href="this, order_column => 'created_at', order_desc => false" n:tag-if="$order_column != 'created_at' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'created_at', order_desc => true" n:tag-if="$order_column != 'created_at' || !$order_desc">&uarr;</a>
			</span>
		</th>
		<th>
			Poslední&nbsp;přihlášení
			<span class="order-link">
				<a n:href="this, order_column => 'last_login', order_desc => false" n:tag-if="$order_column != 'last_login' || $order_desc">&darr;</a>
				<a n:href="this, order_column => 'last_login', order_desc => true" n:tag-if="$order_column != 'last_login' || !$order_desc">&uarr;</a>
			</span>
		</th>
	</tr>
	<tr n:foreach="$users as $_user">
		<td><a n:href=":show $_user->id">{$_user->nickname}</a></td>
		<td>{$_user->name}</td>
		<td>{if ($_user->character_id)}<a n:href="Character:show $_user->character_id">{$_user->character_name}</a>{else}&mdash;{/if}</td>
		<td>{$_user->continuing|bool:'pokračování v roli':'nová role'}</td>
		<td>{if ($_user->email)}<a n:tag-if="$_user->email" href="mailto:{$_user->email}">{$_user->email}</a>{else}&mdash;{/if}</td>
		<td>{$_user->role|role}</td>
		<td>{$_user->created_at|date:'j. n. Y'}</td>
		<td>{if ($_user->last_login)}{$_user->last_login|date:'j. n. Y H:i'}{else}&mdash;{/if}</td>
	</tr>
</table>

<h2>Přidat nového hráče</h2>
{control userForm}
