{block content}

<a n:if="$user->getId() != $_user->id" n:href="delete $_user->id" onclick="if(!confirm('Opravdu? Smazání je nevratné!')) { event.preventDefault(); } " class="delete no-print">smazat</a>
<h1 n:block=title>Profil hráče</h1>
<a n:href="edit $_user->id" class="edit no-print">upravit</a>
<table>
	<tr>
		<th>Jméno a příjmení</th>
		<td>{$_user->name}</td>
	</tr>
	<tr>
		<th>Přezdívka</th>
		<td>{$_user->nickname}</td>
	</tr>
	<tr n:if="$user->isInRole('admin')">
		<th>Role</th>
		<td>{if ($_user->character_id)}<a n:href="Character:show $_user->character_id">{$_user->character_name}</a>{else}&mdash;{/if}</td>
	</tr>
	<tr>
		<th>Navazující role</th>
		<td>{$_user->continuing|bool:'pokračování v roli':'nová role'}</td>
	</tr>
	<tr>
		<th>E-mail</th>
		<td>{$_user->email}</td>
	</tr>
	<tr n:if="$user->isInRole('admin')">
		<th>Oprávnění</th>
		<td>{$_user->role|role}</td>
	</tr>
	<tr>
		<th>Poslední přihlášení</th>
		<td>{$_user->last_login|date:'F j, Y'}</td>
	</tr>
</table>
